/**
 * Calendar App
 *
 * @copyright 2021 Richard Steinmetz <richard@steinmetz.cloud>
 *
 * @author Richard Steinmetz <richard@steinmetz.cloud>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.appointment-config-modal {
	padding: 2vw;

	&__form {
		display: flex;
		flex-direction: column;
		width: 100%;

		fieldset {
			padding: 20px 0;

			header {
				font-size: 16px;
				margin-bottom: 3px;
			}
		}

		.availability-select, .calendar-select {
			display: flex;
			flex-direction: column;
		}

		&__row {
			&--wrapped {
				display: flex;
				flex-wrap: wrap;
				gap: 10px 50px;

				> div {
					flex: 1 200px;
				}
			}

			// Rows that don't have their own vue components
			&--local {
				display: flex;
				flex-direction: column;
			}
		}

		&__row + &__row {
			margin-top: 10px;
		}

		// Fix calendar picker styling
		.multiselect__tags {
			height: unset !important;
			margin: 0 !important;
		}
	}

	&__submit-button {
		margin-top: 20px;
	}
}

.app-config-modal-confirmation {
	.empty-content {
		margin-top: 0 !important;
		margin-bottom: 20px;
	}

	&__buttons {
		display: flex;
		justify-content: center;
		gap: 0 10px;
	}
}
