/*!
 * SPDX-FileCopyrightText: 2019 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

#app-settings {
	.settings-fieldset-interior-item {
		padding: 5px 0;

		.action-checkbox {
			line-height: unset !important;
			white-space: unset !important;

			&__label::before {
				margin: 0 6px 3px 3px !important;
				flex-shrink: 0;
			}
		}

		.action-button {
			min-height: unset !important;

			&__icon {
				margin: 0 6px 3px 3px !important;
				height: 14px !important;
				width: 14px !important;
				background-position: unset !important;
			}

			&__longtext {
				width: unset !important;
				padding: 0 !important;
			}
		}

		&--slotDuration,
		&--defaultReminder {
			display: table;

			label {
				display: block;
			}

			.multiselect {
				display: block;
			}
		}

		&--timezone,
		&--default-calendar {
			width: 100%;
		
			.multiselect {
				width: 100%;
			}
		}
	}
}

// Fix the shortcut overview on smaller screens
@media screen and (max-width: 800px) {
	.shortcut-overview-modal .modal-container .shortcut-section {
		width: 100%;
	}
}
