/**
 * ownCloud - Calendar App
 *
 * @author Raghu Nayyar
 * @author Georg Ehrke
 * @copyright 2014 Raghu Nayyar <beingminimal@gmail.com>
 * @copyright 2014 Georg Ehrke <oc.list@georgehrke.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

body {
	overflow: hidden;
}

#app-content.loading {
	background-image: url('../img/loading.gif');
	background-position: center;
	background-repeat: no-repeat;
}

#togglebuttons {
	float:left;
}

#onedayview_radio {
	margin-left: 6px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
	padding:8px;
}

#oneweekview_radio {
	border-radius: 0;
	margin-left:-7px;
	padding:8px;
}

#onemonthview_radio {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 0;
	margin-left:-7px;
	padding:8px;
}

.fc-header {
	display: block;
	float:right;
	width:300px !important;
}

.fc-header tbody tr:hover {
	background:transparent !important;
}

#calendarbutton {
	width: auto;
	background-color: rgba(240,240,240,.9);
	font-weight: bold;
	color: #555;
	border: 1px solid rgba(190,190,190,.9);
	cursor: pointer;
	margin: 3px 3px 3px 0;
	padding: 7px 6px 5px;
	font-size: 13px;
	outline: none;
	border-radius: 3px;
}

.fc-text-arrow {
	cursor : pointer;
}