/**
 * ownCloud - Calendar App
 *
 * @author Raghu Nayyar
 * @author Georg Ehrke
 * @copyright 2014 Raghu Nayyar <beingminimal@gmail.com>
 * @copyright 2014 Georg Ehrke <oc.list@georgehrke.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

body {
	overflow: hidden;
}


/* BEGIN overrule apps.css */
#shareWithList {
	display: initial !important;
	padding: 0;
}

#shareWithList ul:hover {
	background: 0 !important;
}

#shareWithList a {
	width: auto !important;
	display: initial !important;
	padding: 0 !important;
	margin: 0;
	float: none;
	line-height: 22px !important;
}

#shareWithList label, #dropdown #expiration label {
	vertical-align: baseline !important;
}
/* END overrule apps.css */

#app-navigation .utils .action a {
	display: inline-block;
	line-height: 44px;
	height: 16px;
	width: 16px;
	padding: 14px  2px 14px 2px ;
}

.utils #dropdown {
	margin-right: 0px;
	width: 224px;
	top: 44px;
}

#navigation-list #caldav_url_entry {
	min-height: 0;
}

.activeDay{
	background-color:#D9EDF7;
}

.timeline {
	position: absolute;
	margin: 0;
	padding: 0;
	border: none;
	border-top: 1px solid red;
	width: 100%;

	z-index: 999;
}

.fc-event-draggable { cursor: default; }

.fc-agenda .fc-agenda-axis{
	padding:0;
	padding-right:4px;
}

button.ui-multiselect{
	padding:2px 0 2px 4px;
	line-height:22px;
	height:26px;
	 text-align:left;
}
