/**
 * ownCloud - Calendar App
 *
 * @author Raghu Nayyar
 * @author Georg Ehrke
 * @copyright 2016 Raghu Nayyar <beingminimal@gmail.com>
 * @copyright 2016 Georg Ehrke <oc.list@georgehrke.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */


.events select {
	height: 20px;
}

.advanced select {
	height: 32px;
}

/* TODO : Remove this Hack */
.margin-class {
	margin-top: 4px;
}


.ui-timepicker .ui-timepicker-hour-cell a,
.ui-timepicker .ui-timepicker-minute-cell a {
	text-overflow: inherit !important;
}

.events--fieldset span,
.advanced--fieldset span{
	display: block;
}

.fc-month-view .fc-event-container.modal-open .modal {
	position: absolute;
	bottom: 30px;
	min-height: 245px;
	margin-left: -100px;
	background: #fff;
	box-shadow: 0 0 3px #999;
	max-width: 400px;
	overflow: hidden;
}


.modal.top-middle {
	bottom: -255px !important;
}

.modal.bottom-right {
	bottom: -15px !important;
	margin-left: -430px !important;
}

.modal.top-right {
	bottom: -200px !important;
	margin-left: -430px !important;
}

.modal.bottom-left {
	bottom: -15px !important;
	margin-left: 220px !important;
}

.modal.top-left {
	bottom: -200px !important;
	margin-left: 220px !important;
}


.fc-agendaWeek-view .fc-event-container.modal-open .modal {
	position: absolute;
	bottom: 30px;
	max-height: 245px;
	margin-left: -100px;
	background: #fff;
	box-shadow: 0 0 3px #999;
	max-width: 400px;
	overflow: hidden;
}

.events .events--fieldset {
	padding: 3px 0;
}

.events .events--fieldset span {
	display: block;
}


.events .events--date {
	width: 70px;
}

.advanced .events--date {
	width: 80px;
}

.events .events--input__full {
	width:345px;
}

.events .h2.events--input {
	width: 190px;
}

.events .events--time {
	width:60px;
}

.advanced .events--time {
	width: 75px;
}

.events .events--checkbox {
	padding: 3px 0;
}

.fc-event-container.modal-open .modal .modal-content {
	padding: 20px;
}

.fc-row.fc-rigid {
	overflow: visible !important;
}

.advanced--container {
	padding: 20px;
}

.advanced .h2.advanced--input {
	width: 395px;
}

.advanced .advanced--fieldset select {
	width: 410px;
}

.advanced .tabHeaders {
	margin: 20px 0 15px 0;
	float: left;
	width: 100%;
}

/* Primary action button, use sparingly */
.delete, input[type="submit"].delete, input[type="button"].delete, button.delete, .button.delete {
	border: 1px solid #C60000;
	background-color: #D60000;
	color: #fff;
}
button.delete:hover, button.delete:focus {
	border: 1px solid #D60000;
	background-color: #ff0000;
	color: #fff;
}
.advanced .advanced--list {
	padding: 10px 0;
	width: 100%;
}

.advanced .advanced--button__icon {
	padding: 10px;
}

.advanced .advanced--select.advanced--select__reminder {
	width: 200px;
}