/**
 * ownCloud - Calendar App
 *
 * @author Raghu Nayyar
 * @author Georg Ehrke
 * @copyright 2014 Raghu Nayyar <beingminimal@gmail.com>
 * @copyright 2014 Georg Ehrke <oc.list@georgehrke.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

#events {
	background: #f8f8f8;
	padding: 0;
}

.events-container {
	/*padding: 10px;*/
}

.tabs {
	display: inline-block;
	width:100%;
}

.tab {
	padding: 10px 5px;
	background: #efefef;
	margin-right: 10px;
	margin-top: 5px;
	margin-left: 1px;
	cursor: pointer;
	border-radius: 4px;
}

.tab.active {
	background: #1d2d44;
	color: #fff;
}

#events .event-input {
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	margin: 3px 0;
}

#events .h2 {
	font-size: 20px;
}

#events .event-time-interior input[type='text'] {
	width: 80px;
}

#events .event-time-interior input[type='time'] {
	width: 90px;
}

.event-time-interior-allday {
	display: block;
	width: 100%;
	margin: 7px 0;
}

.ui-tabs-nav {
	background: none;
	border: none;
	border-radius: 0;
}

.ui-timepicker-hour-cell a,
.ui-timepicker-minute-cell a {
	text-overflow: inherit !important;
}

#events .label {
	width: 100px;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}

input[name="nameofattendee"] {
	width: 60%;
}

#listofattendees li,
#listofalarms > li {
	width: 100%;
	padding: 10px 0 5px 0;
	cursor: pointer;
}

#listofattendees li:first-child,
#listofalarms > li:first-child {
	margin-top:10px;
}

#listofattendees li:last-child,
#listofalarms > li:last-child {
	margin-bottom:10px;
}

#listofattendees li:hover, #listofattendees li.active,
#listofalarms > li:hover, #listofalarms > li.active {
	background: #f4f4f4;
}

#listofattendees li span,
#listofalarms > li > div > span {
	margin-left:10px;
	cursor: pointer;
}

#listofattendees > li > div,
#listofalarms > li > div {
	cursor: pointer;
}

.attendeeoptions,
.alarmoptions {
	padding: 10px;
}

.attendeeoptions select {
	margin: 10px;
}

.attendeeopt {
	margin-top: 15px;
}

.attendeeopt label {
	float: none !important;
	margin-left: 0 !important;
}

.optionallabel {
	margin-right: 15px;
}

.event-fieldset-alarm .event-input {
	width: 20% !important;
}

.event-fieldset-alarm .custom-container {
	padding:10px 0;
}