/**
 * Calendar App
 *
 * @author Raghu Nayyar
 * @author Georg Ehrke
 * @copyright 2016 Raghu Nayyar <hey@raghunayyar.com>
 * @copyright 2016 Georg Ehrke <oc.list@georgehrke.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.advanced select {
	height: 32px;
}

/* TODO : Remove this Hack */
.margin-class {
	margin-top: 4px;
}

.ui-timepicker .ui-timepicker-hour-cell a,
.ui-timepicker .ui-timepicker-minute-cell a {
	text-overflow: inherit !important;
}

.events--fieldset span,
.advanced--fieldset span {
	display: block;
}

.advanced .btn-timezone {
	float: right;
}

.advanced .advanced--checkbox {
	margin: 10px 0;
}

.modal-open .modal.popover,
.modal-open .modal.import {
	position: absolute;
	width: 450px;
	background: var(--color-main-background);
	box-shadow: 0 0 3px $color-box-shadow;
	overflow: hidden;
	margin-left: 0 !important;
	padding-bottom: 12px;
}

.modal-open .modal.import {
	top: 75px;
	left: calc(50% - 225px);
	padding: 20px;
	min-height: 25px;
	max-height: calc(100% - 150px - 45px);
	overflow-y: scroll;
}

.events .events--fieldset {
	padding: 3px 0;
}

.events .events--fieldset textarea {
	width: 96%;
	resize: vertical;
}

.events .events--fieldset span {
	display: block;
}

.events .events--fieldset select {
	width: 100%;
	margin-right: 0;
}

.advanced .event-time-interior,
.events .event-time-interior {
	width: 40%;
}

@media (max-width: 1600px) {
	.advanced .event-time-interior {
		width: 45%;
	}
}

@media (max-width: 1450px) {
	.advanced .event-time-interior {
		width: 48%;
	}
}

@media (max-width: 1350px) {
	.advanced .event-time-interior {
		width: 100%;
	}
}

.advanced .events--date,
.events .events--date,
.advanced .events--time,
.events .events--time {
	box-sizing: border-box;
}

.advanced .events--date,
.events .events--date {
	width: calc(100% - 70px);
	border-right-width: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: 0;
}

.advanced .events--date:focus,
.advanced .events--date:hover,
.events .events--date:focus,
.events .events--date:hover {
	border-right-width: 1px;
	border-right-style: solid;
}

.events .events--input__full {
	width: 345px;
}

.events .h2.events--input {
	width: 100%;
	font-size: 20px;
}

.advanced .events--time--wrapper,
.events .events--time--wrapper {
	display: inline !important;
}

.advanced .events--time,
.events .events--time {
	width: 70px;
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-right: 0;
	text-align: right;
}

.advanced .events--time:focus,
.advanced .events--time:hover,
.events .events--time:focus,
.events .events--time:hover {
	border-left-width: 1px;
	border-left-style: solid;
}

.advanced .events--time[disabled],
.events .events--time[disabled] {
	pointer-events: none;
}

.events--textarea,
.advanced--textarea {
	resize: none;
	background-color: inherit !important;
}

.events .events--checkbox {
	padding: 3px 0 10px;
}

.modal-open .modal.popover .modal-content {
	padding: 20px;
}

.fc-row.fc-rigid {
	overflow: visible !important;
}

.advanced--container {
	padding: 20px;
	padding-bottom: 0;
}

.advanced--fieldset {
	margin-bottom: 5px;
}

.advanced .advanced--input,
.advanced .h2.advanced--input {
	width: 100%;
	box-sizing: border-box;
}

.advanced .h2.advanced--input {
	font-size: 20px;
}

.advanced .advanced--fieldset select {
	width: 100%;
}

.advanced .tabHeaders {
	margin: 0 0 15px;
	float: left;
	width: 100%;
}

/* Primary action button, use sparingly */
.delete,
input[type='submit'].delete,
input[type='button'].delete,
button.delete,
.button.delete {
	border: 1px solid #c60000;
	background-color: #d60000;
	color: #fff;
}

button.delete:hover,
button.delete:focus {
	border: 1px solid #d60000;
	background-color: #f00;
	color: #fff;
}

.advanced .advanced--list {
	padding: 10px 0;
	width: 100%;
}

.advanced .advanced--button__icon {
	padding: 10px;
}

.advanced .advanced--button-area {
	border-top: 1px solid #eee;
	padding: 5px 20px;
}

.advanced .pull-half {
	width: 45% !important;
}

.advanced > form {
	height: 100%;
}

.advanced .sidebar-top {
	height: calc(100% - 131px);
	overflow-y: scroll;
}

.advanced .sidebar-top.new {
	height: calc(100% - 91px);
}

.advanced .pull-quarter {
	width: 22% !important;
}

.advanced .btn-half {
	width: 45%;
}

#importdialog .btn-full,
.advanced .btn-full,
.advanced .pull-full {
	width: 100%;
}

.advanced--fieldset-attendeelist li {
	display: block;
	cursor: pointer;
	width: 100%;
}

.advanced--fieldset-attendeelist .advanced--toggler,
.advanced--fieldset-reminderlist .advanced--toggler {
	padding: 5px 2px;
	display: block;
	width: 100%;
	float: left;
}

.advanced--fieldset-attendeelist .advanced--toggler:hover,
.advanced--fieldset-reminderlist .advanced--toggler:hover {
	background: var(--color-background-darker);
	cursor: pointer;
}

.advanced--fieldset .hint {
	font-size: .75em;
	color: #888;
}

.advanced--fieldset .inline {
	display: inline;
}

.dropdown-menu,
.attendeename {
	width: 100%;
	max-width: 470px;
}

.attendeename {
	background-color: inherit !important;
}

.dropdown-menu li {
	border-bottom: 1px solid #ddd;
}

.dropdown-menu li a {
	display: block;
	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dropdown-menu li a:hover {
	background: #eee;
}



.modal-content #app-sidebar {
	position: fixed;
}

#popover-container,
#importpopover-container {
	max-height: 0 !important;
	max-width: 0 !important;
	overflow: hidden !important;
}




#app-sidebar .app-sidebar-header__action {
	max-height: none !important;
}
