/**
 * Calendar App
 *
 * @copyright 2018 Georg Ehrke <oc.list@georgehrke.com>
 *
 * @author Georg Ehrke
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
@include icon-black-white('briefcase', 'calendar', 2);
@include icon-black-white('color-picker', 'calendar', 1);
@include icon-black-white('embed', 'calendar', 1);
@include icon-black-white('eye', 'calendar', 3);
@include icon-black-white('invitees-no-response', 'calendar', 5);
@include icon-black-white('leftarrow', 'calendar', 1);
@include icon-black-white('random', 'calendar', 1);
@include icon-black-white('reminder', 'calendar', 1);
@include icon-black-white('reminder-audio', 'calendar', 1);
@include icon-black-white('reminder-mail', 'calendar', 1);
@include icon-black-white('repeat', 'calendar', 1);
@include icon-black-white('rightarrow', 'calendar', 1);
@include icon-black-white('timezone', 'calendar', 1);
