/**
 * ownCloud - Calendar App
 *
 * @author Raghu Nayyar
 * @author Georg Ehrke
 * @copyright 2014 Raghu Nayyar <beingminimal@gmail.com>
 * @copyright 2014 Georg Ehrke <oc.list@georgehrke.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
/* heights */
/*colors*/
.pull-left, #datepicker .datepicker_current, #datepicker table thead, #datepicker .pickerbody-show, #app-navigation .togglebuttons, #app-navigation .togglebuttons .btn-group, #events .calendarCheckbox, #events .event-label, #events .event-fieldset .event-fieldset-interior, #events .event-fieldset.event-fieldset-attendee .event-fieldset-interior-attendeelist .event-select-attendee, #events .event-fieldset.event-fieldset-attendee .event-fieldset-interior-attendeelist .event-checkbox, #events .event-fieldset .event-time-interior, #events .event-fieldset .event-time-interior.event-time-interior-allday, #events .event-fieldset .event-time-interior.event-time-interior-allday .event-checkbox {
  float: left; }

.pull-right, #app-navigation .new-entity .new-entity-title.new-entity-subscription .calendarlist-input, #app-navigation .new-entity .new-entity-title.new-entity-subscription .calendarlist-select, #app-navigation .togglebuttons .button.today, #app-settings .settings-fieldset .settings-fieldset-interior .settings-fieldset-interior-item .settings-upload, #events .event-select, #events .event-fieldset .event-button, #events .event-fieldset.event-fieldset-reminder .event-select-reminder, #events .event-fieldset.event-fieldset-reminder .custom-container .event-input, #events .event-fieldset.event-fieldset-attendee .event-fieldset-interior-attendeelist .attendeeopener, #events .event-fieldset.event-fieldset-update .event-button, #events .event-fieldset .event-time-interior.event-time-interior-buttonarea {
  float: right; }

.hide, #datepicker .pickerbody-hide, #dialoghider {
  display: none; }

#app-content {
  margin-left: 250px; }
  #app-content.loading {
    background-image: url("../img/loading.gif");
    background-position: center;
    background-repeat: no-repeat; }

#app-navigation .app-navigation-input {
  margin-left: 5px;
  width: 60%; }
#app-navigation .calendarlist-fieldset {
  padding: 0 5px; }
#app-navigation .loading {
  background: transparent;
  background-image: none; }
#app-navigation .new-entity {
  display: block;
  width: 100%;
  line-height: 44px;
  padding: 0 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #4d4d4d;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  #app-navigation .new-entity .new-entity-title {
    cursor: pointer; }
    #app-navigation .new-entity .new-entity-title:before {
      margin-left: -15px;
      margin-right: 5px;
      left: 5px;
      content: '+';
      font-weight: bold;
      font-size: 150%; }
    #app-navigation .new-entity .new-entity-title.new-entity-subscription .calendarlist-select {
      width: 160px; }
#app-navigation .app-navigation-list-item .calendarCheckbox {
  border: 1px solid #000000;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 15px;
  width: 10px;
  position: absolute;
  height: 10px;
  top: 2px;
  left: 5px; }
  #app-navigation .app-navigation-list-item .calendarCheckbox .loadingicon {
    margin-bottom: -1px;
    display: inline-block;
    width: 11px;
    height: 11px;
    position: absolute; }
  #app-navigation .app-navigation-list-item .calendarCheckbox.unchecked {
    background: transparent !important;
    border-color: #aaa; }
#app-navigation .app-navigation-list-item .utils {
  height: 44px;
  padding: 0 5px 0 0; }
  #app-navigation .app-navigation-list-item .utils .action span {
    opacity: 0.6; }
#app-navigation .app-navigation-list-item .active {
  background: transparent !important;
  /* Core Override */ }
  #app-navigation .app-navigation-list-item .active a {
    background-color: transparent !important;
    /* Core Override */ }
  #app-navigation .app-navigation-list-item .active:hover .calendarlist-icon {
    background-color: transparent !important;
    /* Core Override */ }
#app-navigation .app-navigation-list-item > a {
  padding: 0 25px !important; }
#app-navigation .app-navigation-list-item:hover {
  background-color: #bfbfbf; }
  #app-navigation .app-navigation-list-item:hover .utils {
    display: inline-block; }
    #app-navigation .app-navigation-list-item:hover .utils .action span {
      display: inline-block;
      line-height: 44px;
      height: 16px;
      width: 16px;
      padding: 14px 2px 14px 2px;
      cursor: pointer; }
    #app-navigation .app-navigation-list-item:hover .utils.active {
      display: inline-block; }
    #app-navigation .app-navigation-list-item:hover .utils > a {
      background-color: transparent !important; }
  #app-navigation .app-navigation-list-item:hover a {
    text-overflow: ellipsis; }
#app-navigation > ul {
  height: auto; }

/* ColorPicker overrides. */
.close-colorpicker {
  padding: 0;
  position: absolute;
  right: -15px;
  top: -11px;
  background: none;
  border: 0;
  margin: 0; }
  .close-colorpicker:hover {
    background: none;
    color: #222; }

.colorpicker {
  border: 1px solid #ddd;
  background: #efefef;
  border-radius: 2px; }

/*scroll issues */
#scrollable {
  height: 80%; }

/* Spacing */
#spacer {
  height: 44px; }

#datepicker .datepicker_left, #datepicker .datepicker_right {
  height: 34px;
  width: 35px;
  margin: 5px 0 0;
  font-weight: normal;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
#datepicker .datepicker_current {
  width: 170px;
  padding: 6px 0px;
  margin-top: 5px;
  border-top: 1px solid rgba(190, 190, 190, 0.9);
  border-bottom: 1px solid rgba(190, 190, 190, 0.9);
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  cursor: pointer; }
#datepicker .days {
  color: #555555;
  font-weight: normal;
  border: 0;
  width: 35px; }
#datepicker .dates {
  padding: 1px;
  width: 35px; }
#datepicker .date {
  border: 1px solid #cccccc;
  font-weight: normal;
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  padding: .2em;
  text-decoration: none;
  text-align: center;
  width: 25px; }
  #datepicker .date.active {
    border: 1px solid #4d4d4d;
    background: #ffffff;
    color: #4d4d4d; }
#datepicker table {
  display: inline-block;
  margin-left: 5px; }
#datepicker .pickerbody-show {
  width: 240px;
  padding: 5px 5px 0px 0px; }

#app-navigation {
  padding-bottom: 0;
  position: absolute; }
  #app-navigation .togglebuttons {
    width: 100%;
    height: 44px; }
    #app-navigation .togglebuttons .button {
      font-weight: normal;
      padding: 8px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px; }
      #app-navigation .togglebuttons .button.first {
        margin-left: 5px; }
      #app-navigation .togglebuttons .button.middle {
        margin-left: -7px; }
      #app-navigation .togglebuttons .button.last {
        margin-left: -8px; }
      #app-navigation .togglebuttons .button.today {
        position: absolute;
        right: 0;
        margin-right: 5px; }

#app-settings .settings-fieldset .settings-fieldset-interior .settings-input {
  width: 90%; }
#app-settings .settings-fieldset .settings-fieldset-interior .settings-select {
  width: 40%; }
#app-settings .settings-fieldset .settings-fieldset-interior .settings-fieldset-interior-item .settings-upload {
  position: absolute;
  top: -10px;
  right: 90px;
  display: block;
  width: 44px !important;
  height: 44px;
  width: 44px;
  cursor: pointer;
  z-index: 10;
  margin: -5px -40px;
  padding: 0 !important;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  #app-settings .settings-fieldset .settings-fieldset-interior .settings-fieldset-interior-item .settings-upload:hover {
    border: 1px solid #d9d9d9; }
#app-settings .settings-fieldset .settings-fieldset-interior .settings-fieldset-interior-item:hover {
  background: transparent; }
#app-settings .settings-fieldset .settings-fieldset-interior .settings-fieldset-interior-item.settings-fieldset-interior-upload {
  width: 95%;
  height: 55px; }
  #app-settings .settings-fieldset .settings-fieldset-interior .settings-fieldset-interior-item.settings-fieldset-interior-upload .settings-input {
    position: absolute;
    top: 18px; }
  #app-settings .settings-fieldset .settings-fieldset-interior .settings-fieldset-interior-item.settings-fieldset-interior-upload input[type="file"] {
    position: absolute;
    right: 50px;
    top: -10px;
    width: 44px;
    height: 44px;
    padding: 0;
    font-size: 16px;
    margin-left: 0px;
    overflow: hidden;
    z-index: 20;
    opacity: 0; }

.ui-dialog {
  z-index: 999999; }
  .ui-dialog .ui-dialog-titlebar, .ui-dialog .ui-dialog-title {
    cursor: move; }

#events .event-input {
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0; }
  #events .event-input.event-textarea {
    max-width: 467px;
    /*Custom*/
    max-height: 100px; }
#events .calendarCheckbox {
  margin-top: 10px;
  height: 20px;
  width: 20px;
  display: block;
  border: 1px solid #333; }
#events .event-label {
  margin: 10px;
  width: 80px; }
#events .event-select {
  width: auto;
  margin: 3px 0 3px 10px; }
#events .event-fieldset {
  position: relative; }
  #events .event-fieldset .event-fieldset-interior {
    display: block;
    width: 100%; }
    #events .event-fieldset .event-fieldset-interior .event-fieldset-list li {
      padding: 5px 10px;
      margin-bottom: 2px; }
      #events .event-fieldset .event-fieldset-interior .event-fieldset-list li .event-delete-button {
        margin: -3px;
        background-color: transparent;
        border: 0;
        display: none; }
      #events .event-fieldset .event-fieldset-interior .event-fieldset-list li:hover {
        background: #ddd; }
        #events .event-fieldset .event-fieldset-interior .event-fieldset-list li:hover .event-delete-button {
          display: block; }
  #events .event-fieldset .event-select-calendardropdown {
    width: 92%; }
  #events .event-fieldset.event-time {
    height: 100px; }
  #events .event-fieldset.event-fieldset-reminder .custom-container {
    height: 40px; }
    #events .event-fieldset.event-fieldset-reminder .custom-container .event-radio {
      margin: 10px; }
    #events .event-fieldset.event-fieldset-reminder .custom-container .event-input {
      width: 30%; }
    #events .event-fieldset.event-fieldset-reminder .custom-container.repeat-container {
      display: inline-block; }
      #events .event-fieldset.event-fieldset-reminder .custom-container.repeat-container .event-checkbox {
        margin-left: 10px; }
      #events .event-fieldset.event-fieldset-reminder .custom-container.repeat-container .event-input {
        float: none;
        width: 20%; }
      #events .event-fieldset.event-fieldset-reminder .custom-container.repeat-container .event-select {
        float: none;
        width: 24%; }
  #events .event-fieldset.event-fieldset-attendee .event-input {
    width: 78%; }
  #events .event-fieldset.event-fieldset-attendee .event-fieldset-interior-attendeelist .attendeenotsure {
    border: 1px solid #333;
    float: left;
    width: 15px;
    height: 15px; }
    #events .event-fieldset.event-fieldset-attendee .event-fieldset-interior-attendeelist .attendeenotsure i {
      position: absolute;
      margin: 2px 3px; }
  #events .event-fieldset.event-fieldset-attendee .event-fieldset-interior-attendeelist .event-label-type {
    width: 40px; }
  #events .event-fieldset.event-fieldset-attendee .event-fieldset-interior-attendeelist .event-label-no-attend {
    width: 120px; }
  #events .event-fieldset.event-fieldset-attendee .event-fieldset-interior-attendeelist .event-checkbox {
    margin-top: 15px;
    margin-left: -15px; }
  #events .event-fieldset.event-fieldset-attendee .event-fieldset-interior-attendeelist .attendeename {
    margin-left: 10px; }
  #events .event-fieldset.event-fieldset-attendee .event-fieldset-interior-attendeelist .attendeeopener {
    margin: 2px; }
  #events .event-fieldset .event-time-interior {
    height: 40px;
    width: 100%; }
    #events .event-fieldset .event-time-interior .event-input {
      margin-top: 5px;
      width: 210px; }
    #events .event-fieldset .event-time-interior .event-button {
      margin: 6px; }
    #events .event-fieldset .event-time-interior.event-time-interior-buttonarea {
      width: 40px;
      position: absolute;
      right: 10px; }
    #events .event-fieldset .event-time-interior.event-time-interior-allday {
      width: 100%; }
      #events .event-fieldset .event-time-interior.event-time-interior-allday label {
        margin: 5px 0;
        float: none; }
      #events .event-fieldset .event-time-interior.event-time-interior-allday .event-checkbox {
        margin: 5px; }
  #events .event-fieldset.event-fieldset-heading {
    background: #e6e6e6;
    margin-bottom: 2px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 0.05s ease-out 0.05s;
    -moz-transition: 0.05s ease-out 0.05s;
    -ms-transition: 0.05s ease-out 0.05s;
    transition: 0.05s ease-out 0.05s; }
    #events .event-fieldset.event-fieldset-heading h3 {
      margin: 10px;
      font-size: 20px; }
    #events .event-fieldset.event-fieldset-heading:hover {
      background: #cccccc;
      -webkit-transition: 0.05s ease-out 0.05s;
      -moz-transition: 0.05s ease-out 0.05s;
      -ms-transition: 0.05s ease-out 0.05s;
      transition: 0.05s ease-out 0.05s; }
