/**
 * ownCloud - Calendar App
 *
 * @author Raghu Nayyar
 * @author Georg Ehrke
 * @copyright 2014 Raghu Nayyar <beingminimal@gmail.com>
 * @copyright 2014 Georg Ehrke <oc.list@georgehrke.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

#dialoghider {
	display:none;
}

#events label {
	margin: 10px;
	float:left;
}

#events h3 {
	margin:10px;
	font-size:20px;
}

#events input, #eventupdatebutton, #addmoreattendees {
	float:right;
}

#listofattendees {
	float:left;
	margin:10px;
	width: 100%;
}

#events select {
	float:left;
}

#event-title, #event-location, #event-categories, #event-description, .event-attendees-name {
	box-sizing: border-box;
	width: 75% !important;
	margin: 3px 0 !important;
}

#event-title {
	font-size: 20px;
}

.attendeeoptions {
	margin:5px 20px;
}

.attendeeoptions li {
	padding:7px;
	border-radius: 3px;
}

.attendeeoptions li:hover {
	background: #ddd;
}

.cutstatselect {
	float:right !important;
	margin:-6px;
}
