/**
 * ownCloud - Calendar App
 *
 * @author Raghu Nayyar
 * @author Georg Ehrke
 * @copyright 2014 Raghu Nayyar <beingminimal@gmail.com>
 * @copyright 2014 Georg Ehrke <oc.list@georgehrke.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */


#app-navigation {
	padding-bottom:0 !important;
	position: absolute;
}

#app-navigation > ul {
	height:auto;
}

#scrollable {
	height:80%;
	overflow-y: auto;
}

#app-navigation #buttonarea {
	height:44px;
}

#app-navigation .utils {
	display: none;
	height: 44px;
	padding: 0 5px 0 0;
}

#app-navigation .utils .action span {
	opacity:0.6;
}

#app-navigation .utils .action:hover span {
	opacity:1;
}

#app-navigation ul li:hover {
	background:#ccc;
}

#app-navigation ul li:hover a {
	text-overflow: ellipsis;
}

#app-navigation ul li:hover .utils {
	display:inline-block;
}

#app-navigation ul li:hover .utils .action span {
	display: inline-block;
	line-height: 44px;
	height: 16px;
	width: 16px;
	padding: 14px  2px 14px 2px ;
	cursor: pointer;
}

#app-navigation li.active:hover .utils {
	display: inline-block;
}

#app-navigation li > a {
	padding: 0 25px !important;
}

/* overrides the App-navigation from core. */

#app-navigation .active {
	background-color:transparent !important;
}

#app-navigation .active a {
	background-color:transparent !important;
}

#app-navigation ul li:hover {
	background:transparent;
}

#app-navigation ul li:hover > a {
	background:transparent;
}

#app-navigation .loading {
	background:transparent;
	background-image: none;
}

#app-navigation .active:hover #chooseCalendar-share,
#app-navigation .active:hover #chooseCalendar-showCalDAVURL,
#app-navigation .active:hover #chooseCalendar-download,
#app-navigation .active:hover #chooseCalendar-edit,
#app-navigation .active:hover #chooseCalendar-delete {
	background-color: transparent; !important;
}

#newCalendar, #newSubscription {
	display: block;
	width: 100%;
	line-height: 44px;
	padding: 0 25px;
	overflow: hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #333;
	cursor: pointer;
}

#newCalendar span, #newSubscription span {
	cursor: pointer;
}

.personalblock.add-new , .personalblock.add-new-subscription {
	display: none;
}

#newCalendar span:before, #newSubscription span:before {
	margin-left: -18px;
	margin-right: 5px;
	content: '+';
	font-weight: bold;
	font-size: 150%;
	left:8px;
}

#newcolorpicker, #editcolorpicker {
	width:20px;
	height:25px;
	background:#252e5f;
	border:none;
	border-radius:0px;
	outline:none;
	padding:4px;
	margin:0;
}

.personalblock form input {
	margin-left: 3px;
	width: 60%;
}

.personalblock form #submitnewCalendar, .personalblock form #submitnewSubscription, fieldset #updateCalendar, fieldset #chooseCalendar-close {
	width: 25px;
	margin-bottom: 6px;
	height:25px;
}

#chooseCalendar-close span {
	width: 20px;
	height: 10px;
	display: block;
}

.personalblock form #submitnewSubscription {
	float: right;
}

.add-new-subscription form fieldset {
	margin-left:10px;
	margin-right:10px;
}

.add-new-subscription form fieldset input {
	float:right;
}

.add-new-subscription form fieldset select {
	width:160px;
	float:right;
}

.calendarCheckbox, .loadingicon {
	margin-bottom: -1px;
	display: inline-block;
	width: 11px;
	height: 11px;
	position: absolute;
}

.loadingicon {
	margin-top: 11px;
	margin-left: 7px;
}

.calendarCheckbox {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	cursor: pointer;
	margin-left: 6px;
	margin-top: 15px;
}

.editfieldset input[type="text"] {
	width:80%;
}

.sharefieldset input[type="text"] {
	width:80%;
	margin-left:15px;
}

.sharewithlist {
	padding: 0px;
	display: initial;
}

.sharewithlist li {
	padding: 0 25px;
}

.sharewithlist li a.unshare strong {
	width: 100%;
}

.sharewithlist li a {
	float: left;
}

.sharewithlist li a img[alt="Unshare"] {
	float: left;
	margin: 15px;
}

.sharewithlist .sharetoggler {
	cursor: pointer;
}

.calendartype, .buttongroups {
	float:left;
	display:block;
	margin:10px;
}

.buttongroups {
	position: absolute;
	right: 0;
	bottom: 0;
}
.calendartype input[type="checkbox"] {
	width: 20%;
}

.calendartype label {
	float:right;
	width:75%;
}


.calendarCheckbox.unchecked {
	background: rgba(0, 0, 0, 0) !important;
	border-color: #aaa;
}

.caldavURL input {
	width:80%;
}

#spacer {
	height:44px;
}

/* ColorPicker overrides. */

.close-colorpicker {
	padding: 0;
	position: absolute;
	right: -15px;
	top: -11px;
	background: none;
	border: 0;
	margin: 0; 
}

.close-colorpicker:hover {
	background:none;
	color:#222;
	}

.colorpicker {
	border: 1px solid #ddd;
	background: #efefef;
	border-radius: 2px;
}