<!DOCTYPE html>
<!--
  - SPDX-FileCopyrightText: 2026 Nextcloud GmbH and Nextcloud contributors
  - SPDX-License-Identifier: AGPL-3.0-or-later
-->
<html>
	<head>
		<!-- Use styles as provided by default by `nextcloud/server`. -->
		<!-- Load theme like Util::addStyle('theming', 'default'); -->
		<link href="./assets/server/apps/theming/css/default.css" rel="stylesheet" />
		<!-- Load them like Util::addStyle('server', null); -->
		<link href="./assets/server/core/css/server.css" rel="stylesheet" />
        <style>
            #root { display: inline-flex; }
        </style>
	</head>
	<body>
		<div id="root"></div>
	</body>
</html>
