{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": "tab",
    "number-leading-zero": "never",
    "comment-empty-line-before": ["always", {
        "except": ["first-nested"]
    }]
  }
}
