# SPDX-FileCopyrightText: 2016 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
root = true

# General
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{js,php,vue,scss}]
indent_style = tab
insert_final_newline = true

[Makefile]
indent_style = tab

[renovate.json]
indent_style = tab

[*.yml]
indent_style = space
indent_size = 2
