/*!
 * SPDX-FileCopyrightText: 2019 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.freebusy-caption {
	margin-top: 10px;

	&__calendar-user-types,
	&__colors {
		width: 50%;
		display: flex;
	}

	&__colors {
		width: 100%;
		display:flex;
		flex-direction: column;
		padding: 5px;
		.freebusy-caption-item {
			display: flex;
			align-items: center;
			margin-inline-end: 30px;

			&__color {
				height: 1em;
				width: 2em;
				display: block;
				border: 1px solid var(--color-border-dark);
				opacity: 0.8;
			}

			&__label {
				margin-inline-start: 5px;
			}
		}
	}
}
