/*!
 * SPDX-FileCopyrightText: 2019 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.import-modal {
	.modal-container {
		padding: calc(var(--default-grid-baseline) * 6) !important;
		overflow: visible !important;

		.import-modal__title {
			text-align: center;
			font-size: calc(var(--default-grid-baseline) * 5);
			font-weight: bold;
		}

		.import-modal__progress-bar {
			margin-top: calc(var(--default-grid-baseline) * 6);
			margin-bottom: calc(var(--default-grid-baseline) * 4);
		}

		.import-modal__actions {
			margin-top: calc(var(--default-grid-baseline) * 3);
			display: flex;
			gap: var(--default-grid-baseline);
			justify-content: flex-end;
		}

		.import-modal__counters {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: calc(var(--default-grid-baseline) * 2);
			row-gap: calc(var(--default-grid-baseline) * 2);
			margin-top: calc(var(--default-grid-baseline) * 2);

			.notecard {
				align-items: center;
				margin: 0 !important;
			}
		}

		.import-modal-file-item {
			margin-top: calc(var(--default-grid-baseline) * 2);
			margin-bottom: calc(var(--default-grid-baseline) * 2);

			&__calendar-disabled-hint {
				color: var(--color-text-maxcontrast);
			}
		}
	}
}
