#app-navigation {

	.calendar-list {
		max-height: 400px;
		overflow-y: scroll;
	}

	.app-navigation-input {
		width: 90%;
	}

	.calendarlist-fieldset {
		padding: 0 $fives;
	}

	.color-button {
		height: 5*$fives;
		border: 0;
	}

	.close-button {
		height: 5*$fives;
		padding: 0;
		position: relative;
	}

	.accept-button {
		padding: 14px;
	}

	.loading {
		background:transparent;
		background-image: none;
	}


	.new-entity-container {
		margin-top: 45px;
	}

	.new-entity {
		display: block;
		width: 100%;
		line-height: $standard-height;
		padding: 0 5*$fives;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: lighten($black, 30%);
		cursor: pointer;
		@include border-box;
		@include transition(0.05s, 0.05s);

		.new-entity-title {
			cursor: pointer;

			&:before {
				left: 2*$fives;
				width: 2*$fives;
				position: absolute;
				font-weight: bold;
				font-size: 150%;
				content: '+';
			}
		}

		&:hover {
			background: #eeeeee;
			@include transition(0.05s, 0.05s);
		}
	}

	.add-new {
		.new-accept-button {
			position: relative;
			top: -3px;
			left: 20px;
		}

		.color-button {
			height: 5*$fives;
			border: 0;
			background: lighten($black,10%);
		}
	}

	.add-new-subscription {

		.calendarlist-fieldset {

			.calendarlist-input {
				width: 80px;
			}
		}
	}

	.app-navigation-list-item {

		.calendarCheckbox {
			border: 1px solid $black;
			cursor: pointer;
			margin-left: $fives;
			margin-top: 3*$fives;
			width: 2*$fives;
			position: absolute;
			height: 2*$fives;
			top: 2px;
			left: $fives;

			&.unchecked {
				background: rgba(0, 0, 0, 0) !important;
				border-color: #aaa;
			}
		}

		.loadingicon {
			margin-left: $fives;
			margin-top: 2*$fives;
			width: 2*$fives;
			position: absolute;
			height: 2*$fives;
			top: 2px;
			left: $fives;
			@extend .pull-left;
		}

		.utils {
			height: $standard-height;
			padding: 0 $fives 0 0;

			.action {
				span {
					opacity:0.6;
				}
			}
		}

		.active {
			background: transparent !important; /* Core Override */

			a {
				background-color:transparent !important; /* Core Override */
			}

			&:hover {

				.calendarlist-icon {
					background-color: transparent !important; /* Core Override */
				}
			}
		}

		> a {
			padding: 0 25px !important;
		}

		.editfieldset {
			padding: 0 5px;

			.calendartype {
				width: 12*$fives;
				margin-right: 4*$fives;
				@extend .pull-left;
			}
			.buttongroups {
				margin: 4*$fives;
				@extend .pull-left;
			}

			.close-button {
				top: $fives;
			}
		}

		&:hover {
			background-color: #ddd;

			.utils {
				display: inline-block;
				.action {
					span {
						display: inline-block;
						line-height: $standard-height;
						height: 16px;
						width: 16px;
						padding: 14px 2px 14px 2px;
						cursor: pointer;
					}
				}
				&.active {
					display: inline-block;
				}

				> a {
					background-color:transparent !important;
				}
			}

			a {
				text-overflow: ellipsis;
				overflow: hidden;
				width: 130px;
			}
		}
	}


	> ul {
		height: auto;
	}
}

/* ColorPicker overrides. */

.colorpicker {
	display: block;
	height: 30px;
	width: 180px;
	float: left;

	.colorpicker-list {
		display: block;
		float:left;
		width: 100%;
		height: 100%;
		li {
			height: 100%;
			width: 30px !important;
			float: left;
			&.selected {
				border: 1px solid #333;
			}
		}
	}
}

/*scroll issues */

#scrollable {
	height:80%;
}

/* Spacing */

#spacer {
	height: $standard-height;
}
