#app-navigation {

	.app-navigation-input {
		margin-left: $fives;
		width: 60%;
	}

	.calendarlist-fieldset {
		padding: 0 $fives;
	}

	.color-button {
		height: 5*$fives;
		border: 0;
	}

	.close-button {
		height: 5*$fives;
		padding: 0;
		position: relative;
	}

	.accept-button {
		padding: 12px;
	}

	.loading {
		background:transparent;
		background-image: none;
	}

	.new-entity {
		display: block;
		width: 100%;
		line-height: $standard-height;
		padding: 0 5*$fives;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: lighten($black, 30%);
		cursor: pointer;
		@include border-box;
		@include transition(0.05s, 0.05s);

		.new-entity-title {
			cursor: pointer;

			&:before {
				left: 2*$fives;
				width: 2*$fives;
				position: absolute;
				font-weight: bold;
				font-size: 150%;
				content: '+';
			}

			&.new-entity-subscription {

				.calendarlist-input {
					@extend .pull-right;
				}

				.calendarlist-select {
					width: 1.6*$hundreds;
					@extend .pull-right;
				}
			}
		}

		&:hover {
			background: #eeeeee;
			@include transition(0.05s, 0.05s);
		}
	}

	.add-new {
		.new-accept-button {
			position: relative;
			top: -$fives;
		}

		.color-button {
			height: 5*$fives;
			border: 0;
			background: lighten($black,10%);
		}
	}

	.app-navigation-list-item {

		.calendarCheckbox {
			border: 1px solid $black;
			cursor: pointer;
			margin-left: $fives;
			margin-top: 3*$fives;
			width: 2*$fives;
			position: absolute;
			height: 2*$fives;
			top: 2px;
			left: $fives;
			
			&.unchecked {
				background: rgba(0, 0, 0, 0) !important;
				border-color: #aaa;
			}			
		}

		.loadingicon {
			margin-left: $fives;
			margin-top: 2*$fives;
			width: 2*$fives;
			position: absolute;
			height: 2*$fives;
			top: 2px;
			left: $fives;
			@extend .pull-left;
		}

		.utils {
			height: $standard-height;
			padding: 0 $fives 0 0;

			.action {
				span {
					opacity:0.6;
				}
			}
		}

		.active {
			background: transparent !important; /* Core Override */

			a {
				background-color:transparent !important; /* Core Override */
			}

			&:hover {
				.calendarlist-icon {
					background-color: transparent !important; /* Core Override */
				}
			}
		}

		> a {
			padding: 0 25px !important;
		}

		.editfieldset {
			.calendartype {
				width: 12*$fives;
				margin-left: 4*$fives;
				margin-right: 4*$fives;
				@extend .pull-left;
			}
			.buttongroups {
				margin: 4*$fives;
				@extend .pull-left;
			}

			.close-button {
				top: $fives;
			}
		}

		&:hover {
			background-color: darken($white, 25%);
			
			.utils {
				display: inline-block;
				.action {
					span {
						display: inline-block;
						line-height: $standard-height;
						height: 16px;
						width: 16px;
						padding: 14px 2px 14px 2px;
						cursor: pointer;
					}
				}
				&.active {
					display: inline-block;
				}

				> a {
					background-color:transparent !important;
				}
			}

			a {
				text-overflow: ellipsis;
			}
		}
	}


	> ul {
		height: auto;
	}
}


/* ColorPicker overrides. */

.close-colorpicker {
	padding: 0;
	position: absolute;
	right: -15px;
	top: -11px;
	background: none;
	border: 0;
	margin: 0;

	&:hover {
		background: none;
		color: #222;
	}
}

.colorpicker {
	border: 1px solid #ddd;
	background: #efefef;
	border-radius: 2px;
}

/*scroll issues */

#scrollable {
	height:80%;
}

/* Spacing */

#spacer {
	height: $standard-height;
}