#datepicker {

	.datepicker_left, .datepicker_right {
		height: $standard-height - 10;
		width: 7*$fives;
		margin: $fives 0 0;
		font-weight: normal;
	}

	.datepicker_right {
		@include border-radius(0 3px 3px 0);
	}

	.datepicker_left {
		@include border-radius(3px 0 0 3px);
	}

	.datepicker_current {
		width: 1.7*$hundreds;
		padding: 6px 0px;
		margin-top: $fives;
		border-top: 1px solid rgba(190,190,190,0.9);
		border-bottom: 1px solid rgba(190,190,190,0.9);
		font-weight: bold;
		text-align: center;
		overflow: hidden;
		cursor: pointer;
		@extend .pull-left;
	}

	.days {
		color: rgb(85, 85, 85);
		font-weight: normal;
		border: 0;
		width: 7*$fives;
  	}

  	.dates {
		padding: 1px;
		width: 7*$fives;
	}

	.date {
		border: 1px solid darken($white, 20%);
		font-weight: normal;
		color: lighten($black, 40%);
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		padding: .2em;
		text-decoration: none;
		text-align: center;
		width: 5*$fives;

		&.active {
			border: 1px solid lighten($black, 30%);
			background: $white;
			color: lighten($black, 30%);
		}
	}

	table {
		display: inline-block;
		margin-left: $fives;

		thead {
			@extend .pull-left;
		}
	}
	.pickerbody-show {
		width: 2.4*$hundreds;
		padding: $fives $fives 0px 0px;
		@extend .pull-left;
	}

	.pickerbody-hide {
		@extend .hide;
	}
}

#app-navigation {
	padding-bottom: 0;
	position: absolute;

	.togglebuttons {
		width: 100%;
		height: $standard-height;
		@extend .pull-left;

		.btn-group {
			@extend .pull-left;
		}

		.button {
			font-weight: normal;
			padding: 8px;


			&.first {
			  margin-left: $fives;
			  @include border-radius(3px 0 0 3px);
			}

			&.middle {
			  margin-left: -7px;
			  @include border-radius(0px);
			}

			&.last {
			  margin-left: -8px;
			  @include border-radius(0 3px 3px 0);
			}

			&.today {
				position: absolute;
				right: 0;
				margin-right: $fives;
				@extend .pull-right;
			}
		}
	}
}
