#dialoghider {
  @extend .hide;
}

.ui-dialog {
	z-index: 999999;

	.ui-dialog-titlebar, .ui-dialog-title {
		cursor: move;
		background: transparent;
		border: 0;

		.ui-button {
			cursor: pointer;
		}
	}
}

#events {

	.event-input {
		box-sizing: border-box;
		width: 100%;
		margin: $fives 0;

		&.h2 {
			font-size: 18px;
		}

		&.event-textarea {
			max-width: 467px; /*Custom*/
			max-height: $hundreds;
		}
	}

	

	.calendarCheckbox {
		margin-top: 2*$fives;
		height: 4*$fives;
		width: 4*$fives;
		display: block;
		@extend .pull-left;
		border: 1px solid #333;
	}

	.event-label {
		margin: 2*$fives;
		width: 0.8*$hundreds;
		@extend .pull-left;
	}

	.event-select {
		width: auto;
		margin: 3px 0 3px 10px;
		@extend .pull-right;
	}

	.event-fieldset {
		position: relative;

		.event-fieldset-interior {
			display: block;
			width: 100%;
			@extend .pull-left;
			
			.event-fieldset-list {
				li {
					padding: $fives 2*$fives;
					margin-bottom: 2px;

					.event-delete-button {
						margin: -3px;
						background-color: transparent;
						border: 0;
						display: none;
					}
					
					&:hover {
						background: #ddd;

						.event-delete-button {
							display: block;
						}
					}
				}
			}
		}

		.event-button {
			@extend .pull-right;
		}

		.event-select-calendardropdown {
			width:92%;
		}

		&.event-time {
			height: $hundreds;
		}

		&.event-fieldset-reminder {

			.event-select-reminder {
				@extend .pull-right;
			}

			.event-delete-button {
				padding: $fives;
				margin-right: $fives;
				margin-top: $fives;
				cursor: pointer;
			}			

			.event-fieldset-interior-reminderlist-single {

				width: 100%;
				@extend .pull-left;
				cursor: pointer;

				h4 {
					cursor: pointer;
					margin: $fives;
					@extend .pull-left;
				}

				.event-delete-button {
					display: none;
				}

				&:hover {

					background: #ddd;

					.event-delete-button {
						display: block;
						opacity: 0.5;

						&:hover {
							opacity: 0.7;
						}
					}
				}
			}


			.custom-container {
				height: 8*$fives;

				.event-radio {
					margin: 2*$fives;
				}

				.event-input {
					@extend .pull-right;
					width: 30%;
				}

				&.repeat-container {

					display: inline-block;

					.event-checkbox {
						margin-left: 10px;
					}
					
					.event-input {
						float: none;
						width: 20%;
					}

					.event-select {
						float: none;
						width: 24%;
					}
				}

			}
		}

		&.event-fieldset-attendee {
			.event-input {
				width:78%;
			}

			.event-fieldset-interior-attendeelist {

				.attendeenotsure {
					border: 1px solid #333;
					float: left;
					width: 15px;
					height: 15px;

					i {
						position: absolute;
						margin: 2px 3px;
					}
				}

				.event-label-type {
					width: 40px;
				}

				.event-label-no-attend {
					width: 120px;
				}

				.event-select-attendee {
					@extend .pull-left;

				}

				.event-checkbox {
					margin-top: 15px;
					margin-left: -15px;
					@extend .pull-left;
				}

				.attendeename {
					margin-left: 10px;
				}

				.attendeeopener {
					margin:2px;
					@extend .pull-right;
				}
			}
		}

		&.event-fieldset-update {
			.event-button {
				@extend .pull-right;
			}
		}

		.event-time-interior {
			height: 8*$fives;
			width: 100%;
			@extend .pull-left;

			.event-input {
				margin-top: $fives;
				width: 2.1*$hundreds;
			}

			.event-button {
				margin: 6px;
			}

			&.event-time-interior-buttonarea {
				width: 8*$fives;
				position: absolute;
				right: 2*$fives;
				@extend .pull-right;
			}
			
			&.event-time-interior-allday {
				width: 100%;
				@extend .pull-left;

				label {
					margin: $fives 0;
					float: none;
				}
				
				.event-checkbox {
					margin: $fives;
					@extend .pull-left;
				}
			}		
		}

		&.event-fieldset-heading {
			background: darken($white, 10%);
			margin-bottom: 2px;
			cursor: pointer;
			@include border-radius($fives);
			@include transition(0.05s,0.05s);

			h3 {
				margin: 2*$fives;
				font-size: 16px;
			}

			&:hover {
				background: darken($white, 20%);
				@include transition(0.05s,0.05s);
			}
		}
	}
}