#dialoghider {
  @extend .hide;
}

#events {

	.event-input {
		box-sizing: border-box;
		width: 100%;
		margin: $fives 0;

		&.event-textarea {
			max-width: 467px; /*Custom*/
			max-height: $hundreds;
		}
	}

	.calendarCheckbox {
		margin-top: 2*$fives;
	}

	.event-label {
		margin: 2*$fives;
		width: 0.8*$hundreds;
		@extend .pull-left;
	}

	.event-select {
		width: auto;
		margin: 3px 0 3px 10px;
		@extend .pull-right;
	}

	.event-fieldset {
		position: relative;

		.event-fieldset-interior {
			display: block;
			width: 100%;
			@extend .pull-left;
			
			.event-fieldset-list {
				li {
					padding: $fives 2*$fives;
					margin-bottom: 2px;
					
					&:hover {
						background: #ddd;
					}
				}
			}
		}

		.event-button {
			@extend .pull-right;
		}

		.event-select-calendardropdown {
			width:92%;
		}

		&.event-time {
			height: $hundreds;
		}

		&.event-fieldset-reminder {

			.event-select-reminder {
				@extend .pull-right;
			}

			.event-fieldset-interior-reminders {

			}

			.custom-container {
				height: 8*$fives;

				.event-radio {
					margin: 2*$fives;
				}

				.event-input {
					@extend .pull-right;
					width: 30%;
				}

			}
		}

		&.event-fieldset-attendee {
			.event-input {
				width:78%;
			}
		}

		&.event-fieldset-update {
			.event-button {
				@extend .pull-right;
			}
		}

		.event-time-interior {
			height: 8*$fives;
			width: 100%;
			@extend .pull-left;

			.event-input {
				margin-top: $fives;
				width: 2.1*$hundreds;
			}

			.event-button {
				margin: 6px;
			}

			&.event-time-interior-buttonarea {
				width: 8*$fives;
				position: absolute;
				right: 2*$fives;
				@extend .pull-right;
			}
			
			&.event-time-interior-allday {
				width: 100%;
				@extend .pull-left;

				label {
					margin: $fives 0;
					float: none;
				}
				
				.event-checkbox {
					margin: $fives;
					@extend .pull-left;
				}
			}		
		}

		&.event-fieldset-heading {
			background: darken($white, 10%);
			margin-bottom: 2px;
			cursor: pointer;
			@include border-radius($fives);
			@include transition(0.05s,0.05s);

			h3 {
				margin: 2*$fives;
				font-size: 4*$fives;
			}

			&:hover {
				background: darken($white, 20%);
				@include transition(0.05s,0.05s);
			}
		}
	}
}