#app-settings {
	.settings-fieldset {
		.settings-fieldset-interior {

			.settings-input {
				width: 90%;
			}

			.settings-select {
				width: 40%;
			}

			.settings-fieldset-interior-item {

				.settings-upload {
					position: absolute;
				  	font-weight: bold;
				  	width: 100%;
					display: block;
					height: $standard-height/1.7;
				  	font-size: $standard-height/3;
					cursor: pointer;
					z-index: 10;
				  	top: 2.5*$fives;
				  	padding: $standard-height/6 0 0 0 !important;
				  	text-align: center;
					border: 1px solid darken($white, 10%);
					@include border-radius(3px);
					@extend .pull-right;
				  	@extend .icon-upload !optional;
				  	background-position: 5%;

					&:hover {
						border: 1px solid darken($white, 15%);
					}
				}

				&:hover {
					background: transparent;
				}

				&.settings-fieldset-interior-upload {
					width: 95%;
  					height: 11*$fives;

  					.settings-input {
						position: absolute;
						top: 18px;
  					}
					input[type="file"] {
					  	top: 2.5*$fives;
						position: absolute;
					  	width: 100%;
						height: $standard-height/1.7 + $standard-height/6;
						padding: 0;
						font-size: 16px;
						margin-left: 0px;
						overflow: hidden;
						z-index: 20;
						opacity: 0;
					}
				}
			}
		}
	}
}

.dialog {
	.table {
		width: 100%;
		@include transition(0.05s,0.05s);

		.name {
			padding-left: 4*$fives;
		}

		.dialog-select {
			width: 100%;
		}

		&:hover {
			background: #ddd;
			@include transition(0.05s,0.05s);
		}
	}
}