#app-settings {
	.settings-fieldset {
		.settings-fieldset-interior {

			.settings-input {
				width: 90%;
			}

			.settings-select {
				width: 40%;
			}

			.settings-fieldset-interior-item {

				.settings-upload {
					position: absolute;
					top: -2*$fives;
					right: 0.9*$hundreds;
					display: block;
					width: $standard-height !important;
					height: $standard-height;
					width: $standard-height;
					cursor: pointer;
					z-index: 10;
					margin: -$fives -8*$fives;
					padding: 0 !important;
					border: 1px solid darken($white, 10%);
					@include border-radius(3px);
					@extend .pull-right;

					&:hover {
						border: 1px solid darken($white, 15%);
					}
				}

				&:hover {
					background: transparent;
				}

				&.settings-fieldset-interior-upload {
					width: 95%;
  					height: 11*$fives;

  					.settings-input {
						position: absolute;
						top: 18px;
  					}
					input[type="file"] {
						position: absolute;
						right: 0.5*$hundreds;
						top: -2*$fives;
						width: $standard-height;
						height: $standard-height;
						padding: 0;
						font-size: 16px;
						margin-left: 0px;
						overflow: hidden;
						z-index: 20;
						opacity: 0;
					}
				}
			}
		}
	}
}