/*!
 * SPDX-FileCopyrightText: 2019 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

#emptycontent-container #emptycontent {
	color: #a9a9a9 !important;
}

.content.app-calendar.app-calendar-public-embedded {
	#embed-header {
		position: fixed;
		top: 0;
		left: 0;
		height: 50px;
		width: 100%;
		box-sizing: border-box;
		background-color: var(--color-main-background);
		border-bottom: 1px solid var(--color-border);
		overflow: visible;
		z-index: 2000;
		display: flex;
		justify-content: space-between;

		.embed-header__date-section,
		.embed-header__share-section {
			display: flex;
			gap: 5px;
		}

		.view-button-section {
			.button {
				min-width: 75px;
			}
		}

		.datepicker-button-section {
			&__datepicker-label {
				min-width: 150px;
			}
		}
	}

	.app-content {
		margin-top: 44px;
		//position: absolute !important;
		//top: 44px;
		//left: 0;
		//right: 0;
		//bottom: 0;
		//min-height: unset !important;
	}
}

#body-public {
	input#initial-state-calendar-is_embed ~ header#header {
		display: none;
	}
	.app-calendar-public {
		& + footer {
			// Only show bottom rounded corners
			border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
		}

		.app-content {
			height: calc(100% - 65px) !important; // $footer-height is hardcoded to 65px in core/css/public.scss
		}
	}
}
