@mixin border-box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($time-in,$time-delay) {
  -webkit-transition: $time-in ease-out $time-delay;
     -moz-transition: $time-in ease-out $time-delay;
      -ms-transition: $time-in ease-out $time-delay;
          transition: $time-in ease-out $time-delay;
}