/**
 * Calendar App
 *
 * @author Raghu Nayyar
 * @author Georg Ehrke
 * @copyright 2016 Raghu Nayyar <hey@raghunayyar.com>
 * @copyright 2016 Georg Ehrke <oc.list@georgehrke.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.app {
	height: 100%;
	width: 100%;
}

#fullcalendar table {
	white-space: inherit !important;
}

.fc-state-highlight.fc-day-number,
#fullcalendar tbody tr,
#fullcalendar tbody tr:hover,
#fullcalendar tbody tr:focus {
	background: transparent !important;
}

#popover-container,
#importpopover-container {
	max-height: 0 !important;
	max-width: 0 !important;
	overflow: hidden !important;
}

#fullcalendar .fc-axis,
#fullcalendar .fc-day-header {
	font-size: 100%;
	opacity: .5;
}

#fullcalendar td.fc-day.fc-sat,
#fullcalendar td.fc-day.fc-sun {
	background-color: nc-darken($color-main-background, 3%);
}

.tooltip-inner {
	white-space: pre-line;
	max-height: 175px !important;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 10;
	-webkit-box-orient: vertical;
}

