/**
 * Calendar App
 *
 * @author Raghu Nayyar
 * @author Georg Ehrke
 * @copyright 2016 Raghu Nayyar <hey@raghunayyar.com>
 * @copyright 2016 Georg Ehrke <oc.list@georgehrke.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

#app-navigation .togglebuttons .button.active {
	background-color: $color-primary;
	color: $color-primary-text;
}

#app-navigation .togglebuttons .button.today:focus {
	background-color: rgba(nc-darken($color-main-background, 6%), .9);
}

#datepicker .pickerbody-hide {
	display: none;
}

#datepicker .datepicker_left,
#datepicker .datepicker_right {
	height: 34px;
	width: 35px;
	margin: 5px 0 0;
	font-weight: normal;
}

#datepicker table {
	display: inline-block;
	margin-left: 5px;
}

#datepicker table td button {
	margin: 0;
	font-weight: 300;
}

#datepicker thead {
	display: none;
}

#datepicker td button {
	min-height: 0;
}

#datepicker table thead tr {
	width: 100%;
}

#datepicker table thead .text-center {
	text-align: center;
}

#datepicker table tbody tr,
#datepicker table tbody tr:hover {
	background: transparent;
}

#datepicker table tbody button {
	margin: 0;
	padding: 6px 9px;
	background: transparent;
	cursor: pointer;
	border-radius: 0;
	border-top: 0;
	border-left: 0;
}

#datepicker table tbody tr td button {
	border: none;
}

#datepicker table tbody button {
	max-width: 34px; /* Hack for Firefox for overflowing tables */
}

#datepicker table tbody button.active {
	border-radius: 50%;
	background-color: $color-primary;
	color: $color-primary-text;
	font-weight: bold;
}

#datepicker table tbody button span {
	cursor: pointer;
}

#datepicker .text-muted {
	color: #c7c7c7;
}

.highlight-weekend button {
	color: #aaa;
}

#app-navigation {
	padding-bottom: 0;
}

#app-navigation .datepicker-heading,
#app-navigation .togglebuttons {
	display: flex;
	justify-content: space-around;
	margin: 0 5px;
	width: calc(100% - 10px);
}

#app-navigation .datepicker-heading .button {
	background-color: transparent;
	border: none;
	font-weight: normal;
}

#app-navigation .togglebuttons .button {
	font-weight: normal;
	padding: 8px;
	flex-grow: 1;
}

#app-navigation .datepicker-heading .button:hover,
#app-navigation .togglebuttons .button:hover,
#app-navigation .datepicker-heading .button.active,
#app-navigation .togglebuttons .button.active {
	z-index: 50; /* Force show border */
}

#app-navigation .datepicker-heading .icon-view-previous,
#app-navigation .togglebuttons .icon-view-previous {
	margin-right: -1px;
	border-radius: 3px 0 0 3px;
	flex-grow: 1;
}

#app-navigation .datepicker-heading .button.middle,
#app-navigation .togglebuttons .button.middle {
	margin-left: 0;
	margin-right: 0;
	border-radius: 0;
	flex-grow: 2;
}

#app-navigation .datepicker-heading .icon-view-next,
#app-navigation .togglebuttons .icon-view-next {
	margin-left: -1px;
	border-radius: 0 3px 3px 0;
	flex-grow: 1;
}

#app-navigation .datepicker-heading .icon-view-previous,
#app-navigation .datepicker-heading .icon-view-next {
	width: 35px;
}

#app-navigation .datepicker-heading .button.middle {
	width: calc(100% - 70px);
}
