/**
 * Calendar App
 *
 * @author Raghu Nayyar
 * @author Georg Ehrke
 * @copyright 2016 Raghu Nayyar <hey@raghunayyar.com>
 * @copyright 2016 Georg Ehrke <oc.list@georgehrke.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.hide {
	display: none;
}

.full-width {
	width: 100%;
}

.clear-both {
	clear: both;
}

.icon-timezone {
	background: url("../../img/timezone.svg") center center no-repeat;
	display: block;
}

.input-with-button-on-right-side {
	width: 76% !important;
	float: left;
	margin-right: 6px !important;
}

.button-next-to-input {
	height: 32px;
	width: 32px;
}

#emptycontent-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, .85);
	z-index: 1000;
}

.icon-calendar {
	background-image: url('../../img/favicon-touch.svg');
}
