name: PHP Tests
on: pull_request

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['8.0', '8.1', '8.2']
        nextcloud-versions: ['master', 'stable27', 'stable26']
        include:
          - php-versions: '7.4'
            nextcloud-versions: 'stable25'
          - php-versions: '8.1'
            nextcloud-versions: 'stable25'
    name: php${{ matrix.php-versions }} on ${{ matrix.nextcloud-versions }} unit tests
    env:
      CI: true
      XDEBUG_MODE: coverage
    steps:
    - name: Set up php${{ matrix.php-versions }}
      uses: shivammathur/setup-php@cb8f453143149404c7fd670b5f37c91d395b3054
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: ctype, curl, dom, gd, gmp, iconv, intl, json, mbstring, openssl, pdo_sqlite, posix, sqlite, xml, zip
        coverage: xdebug
    - name: Checkout Nextcloud
      run: git clone https://github.com/nextcloud/server.git --recursive --depth 1 -b ${{ matrix.nextcloud-versions }} nextcloud
    - name: Patch version check for nightly PHP
      if: ${{ matrix.php-versions == '8.2' }}
      run: echo "<?php" > nextcloud/lib/versioncheck.php
    - name: Install Nextcloud
      run: php -f nextcloud/occ maintenance:install --database-name oc_autotest --database-user oc_autotest --admin-user admin --admin-pass admin --database sqlite --database-pass=''
    - name: Checkout the app
      uses: actions/checkout@v3
      with:
        path: nextcloud/apps/calendar
    - name: Install dependencies
      working-directory: nextcloud/apps/calendar
      run: composer install
    - name: Run tests
      working-directory: nextcloud/apps/calendar
      run: composer run test
    - name: Upload coverage to Codecov
      if: ${{ matrix.nextcloud-versions == 'master' }}
      uses: codecov/codecov-action@v3
      with:
        file: nextcloud/apps/calendar/clover.unit.xml
        flags: php
        fail_ci_if_error: true
        verbose: true

  summary:
    runs-on: ubuntu-latest
    needs:
      - unit-tests

    if: always()

    name: php-test-summary

    steps:
      - name: Unit test status
        run: if ${{ needs.unit-tests.result != 'success' && needs.unit-tests.result != 'skipped' }}; then exit 1; fi
