# SPDX-FileCopyrightText: 2020-2024 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: MIT
name: PHP Tests
on: pull_request

jobs:
  changes:
    runs-on: ubuntu-latest-low
    permissions:
      contents: read
      pull-requests: read

    outputs:
      src: ${{ steps.changes.outputs.src}}

    steps:
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        continue-on-error: true
        with:
          filters: |
            src:
              - '.github/workflows/**'
              - 'lib/**'
              - 'appinfo/**'
              - 'composer/**'
              - 'templates/**'
              - 'tests/php/**'
              - 'composer.json'
              - 'composer.lock'
              - 'phpunit.integration.xml'
              - 'phpunit.unit.xml'
              - '**.php'

  unit-tests:
    runs-on: ubuntu-latest
    
    needs: changes
    if: needs.changes.outputs.src != 'false'

    strategy:
      matrix:
        php-versions: [ '8.2', '8.3', '8.4', '8.5' ]
        nextcloud-versions: [ 'master' ]
        include:
          - php-versions: '8.1'
            nextcloud-versions: 'stable32'
    name: php${{ matrix.php-versions }} on ${{ matrix.nextcloud-versions }} unit tests
    env:
      CI: true
      XDEBUG_MODE: coverage
    steps:
    - name: Set up php${{ matrix.php-versions }}
      uses: shivammathur/setup-php@85c019fd025f731a83ac9fbc1cdd9ba69d76b6e3 # v2.36.0 with verbose logging due to stuck runs
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: ctype, curl, dom, gd, gmp, iconv, intl, json, mbstring, openssl, pdo_sqlite, posix, sqlite, xml, zip
        coverage: xdebug
    - name: Checkout Nextcloud
      run: git clone https://github.com/nextcloud/server.git --recursive --depth 1 -b ${{ matrix.nextcloud-versions }} nextcloud
    - name: Patch version check for nightly PHP
      if: ${{ matrix.php-versions == '8.4' }}
      run: echo "<?php" > nextcloud/lib/versioncheck.php
    - name: Install Nextcloud
      run: php -f nextcloud/occ maintenance:install --database-name oc_autotest --database-user oc_autotest --admin-user admin --admin-pass admin --database sqlite --database-pass=''
    - name: Checkout the app
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        path: nextcloud/apps/calendar
    - name: Install dependencies
      working-directory: nextcloud/apps/calendar
      run: composer install
    - name: Run tests
      working-directory: nextcloud/apps/calendar
      run: composer run test:unit
    - name: Upload coverage to Codecov
      if: ${{ matrix.nextcloud-versions == 'master' }}
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: nextcloud/apps/calendar/clover.unit.xml
        flags: php
        fail_ci_if_error: ${{ !github.event.pull_request.head.repo.fork }}
        verbose: true

  integration-tests:
    runs-on: ubuntu-latest

    needs: changes
    if: needs.changes.outputs.src != 'false'

    strategy:
      matrix:
        php-versions: [ '8.2', '8.3', '8.4', '8.5' ]
        nextcloud-versions: [ 'master', 'stable32' ]
        exclude:
          - php-versions: '8.5'
            nextcloud-versions: 'stable32'
        include:
          - php-versions: '8.4'
            nextcloud-versions: 'stable33'
          - php-versions: '8.1'
            nextcloud-versions: 'stable32'
    name: php${{ matrix.php-versions }} on ${{ matrix.nextcloud-versions }} integration tests
    env:
      CI: true
      XDEBUG_MODE: coverage
    steps:
      - name: Set up php${{ matrix.php-versions }}
        uses: shivammathur/setup-php@85c019fd025f731a83ac9fbc1cdd9ba69d76b6e3 # v2.36.0 with verbose logging due to stuck runs
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: ctype, curl, dom, gd, gmp, iconv, intl, json, mbstring, openssl, pdo_sqlite, posix, sqlite, xml, zip
          coverage: xdebug
      - name: Checkout Nextcloud
        run: git clone https://github.com/nextcloud/server.git --recursive --depth 1 -b ${{ matrix.nextcloud-versions }} nextcloud
      - name: Patch version check for nightly PHP
        if: ${{ matrix.php-versions == '8.4' }}
        run: echo "<?php" > nextcloud/lib/versioncheck.php
      - name: Install Nextcloud
        run: php -f nextcloud/occ maintenance:install --database-name oc_autotest --database-user oc_autotest --admin-user admin --admin-pass admin --database sqlite --database-pass=''
      - name: Checkout the app
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          path: nextcloud/apps/calendar
      - name: Install dependencies
        working-directory: nextcloud/apps/calendar
        run: composer install
      - name: Install Calendar
        run: php -f nextcloud/occ app:enable calendar
      - name: Run tests
        working-directory: nextcloud/apps/calendar
        run: composer run test:integration

  summary:
    runs-on: ubuntu-latest
    needs:
      - unit-tests
      - integration-tests

    if: always()

    name: php-test-summary

    steps:
      - name: Unit test status
        run: if ${{ needs.unit-tests.result != 'success' && needs.unit-tests.result != 'skipped' }}; then exit 1; fi
      - name: Integration test status
        run: if ${{ needs.integration-tests.result != 'success' && needs.integration-tests.result != 'skipped' }}; then exit 1; fi

